@import "tailwindcss";

/* Solo aplicamos estilos oscuros al Navbar */
.dark.navbar {
    background-color: #1f2937;
    /* gray-900 */
    color: white;
}

/* Enlaces dentro del Navbar */
.dark.navbar a {
    color: white;
}

.dark.navbar a:hover {
    color: #d1d5db;
    /* gray-300 */
}

/* Ajuste para Quick Links en modo oscuro */
.dark .dropdown-menu {
    background-color: #1f2937;
    /* Mismo color que el navbar en oscuro */
    color: white;
    border: 1px solid #374151;
    /* gray-700 */
}

/* Enlaces dentro del dropdown */
.dark .dropdown-menu a {
    color: white;
}

.dark .dropdown-menu a:hover {
    color: #d1d5db;
    /* gray-300 */
}

@layer components{
    .searh_bar{
        @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full 
        group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800
        dark:bg-gray-900 group-hover:dark:bg-gray-800;

    }
}

@layer utilities {
    .hero-bg-color {
        @apply bg-gradient-to-r from-gray-300/80 to-gray-100 dark:from-gray-900 dark:to-gray-800
        dark:text-white;

    }
}
