@import "tailwindcss";

/* Solo aplicamos estilos oscuros al Navbar */
.dark.navbar {
    background-color: #1f2937;
    /* gray-900 */
    color: white;
}

/* Enlaces dentro del Navbar */
.dark.navbar a {
    color: white;
}

.dark.navbar a:hover {
    color: #d1d5db;
    /* gray-300 */
}